body {
  background-color: rgb(200, 161, 101);
}
tr, td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: black;
}

.tentativa div {
  border: 2px solid black;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  background: CornflowerBlue;
}

#dica div {
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  width: 40%;
  height: 40%;
  background: CornflowerBlue;
}

.codigo div {
  border: 2px solid black;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

.selecao div {
  border: 2px solid black;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  background: CornflowerBlue;
}

.tabelaPrincipal{
  position: relative;
  display: inline-block;
}

.tabelaShow{
  position: fixed;
  top:7px;
  left:35%;

}
.confirma{
  position: relative;
  display: inline-block;
  font-size: 20px;
  border-radius: 2px;
  background-color: white;
  border: 2px groove black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

.regras{
  font-size: 20px;
  border-radius: 2px;
  background-color: white;
  border: 2px groove black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

.bolaPreta {
  border-radius: 50%;
  width: 30%;
  height: 50%;
  background-color: black;
}

.bolaBranca {
  border-radius: 50%;
  width: 30%;
  height: 50%;
  background-color: white;
}

.bolasRegras {
  border: 0px;
  background-color: rgb(200, 161, 101);
}

.tdBolaRegras {
  border: 0px;
  background-color: rgb(200, 161, 101);
}

.trBolaregras {
  border: 0px;
  background-color: rgb(200, 161, 101);
}
