body {
  background-color: CornflowerBlue;
}
tr, td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: black;
}

.tentativa div {
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: CornflowerBlue;
}

#dica div {
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: CornflowerBlue;
}

.codigo div {
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.selecao div {
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: CornflowerBlue;
}

button {
  position: relative;
  font-size: 20px;
  border-radius: 2px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
